@import "./vazirFonts.css";

body {
    background-color: #F7FFF7;
}

/* navbar */
.myNav-cartLink {
    text-decoration: none;
}

.myNav-cartLink:hover {
    text-decoration: none;
}

.myNav-cartLink:hover .myNav-badge {
    background-color: #32b3aa;
}

.myNav-badgeLabel {
    font-size: 10px;
    margin-bottom: 5px;
}

.myNav-badge {
    position: relative;
    bottom: 20px;
    right: 15px;
    padding: 0px 5px;
    border-radius: 20px;
    background-color: #4ecdc4;
    color: #fff;
    border: 1px solid #32b3aa; 
}

.myNav-account {
    color: #505050;
}

.myNav-account:hover {
    color: #101010;
}

.myNav-exit {
    color: #ff6b6b;
}

.myNav-exit:hover {
    color: #ff4d4d;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    color: #505050;
    font-size: 25px;
}

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #1A535C;
    color: white;
    text-align: center;
  }

/* profile orders */
.myTabs {
    position: relative; 
    margin-top: 10%; 
    text-align: center;
}

.myFirstTabButton {
    background-color: white;
    width: 23%;
    height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0005), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
    border-left: 1px dashed grey;
}

.myFirstTabButton:hover {
    background-color: #e6ffe6;
    color: #ff4d4d;
}

.mySecondTabButton {
    background-color: #ff6b6b;
    color: white;
    width: 23%;
    height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.0005), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    /* border-right: 2px dotted grey; */
}

.mySecondTabButton:hover {
    background-color: #e60000;
}

/* .myBtnGroup button {
    float: left;
} */

.card {
    border-radius: 30px;
    width: 70%; 
    height: 200px;
    position: absolute; 
    top: 50%; 
    z-index: -1; 
    left: 50%; 
    transform: translateX(-50%);
}

.myCardBorder {
    border-color: #bfbfbf;
}

.myCreditBtn {
    color: white;
    background-color: #4ECDC4;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
    cursor: pointer;
}

.myCreditBtn:hover {
    background-color: #32b3aa;
}

.myCreditInp {
    background-color: #e6e6e6;
    border-radius: 5px;
    font-size: 110%;
}

.myRow {
    padding-top: 70px;
}